<div class="row">
  <div class="col-9"><h1>Все смайлики</h1></div>
  <div class="col-3">
    <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="Поиск..." aria-label="Search">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert alert-primary" *ngIf="count <= 0">Смайлов нет</div>
    <!--table-->
    <table class="table" *ngIf="count > 0">
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Ссылка</th>
          <th scope="col">Превью</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smile of smiles | filter : searchText | paginate: { itemsPerPage: 20, currentPage: p }">
          <th class="table-sm">{{ smile.name }}</th>
          <td><a href="{{ smile.link }}">{{ smile.link }}</a></td>
          <td><div class="emoji-container"><img src="{{ smile.link }}" alt="{{ smile.name }}"></div></td>
          <td>
            <span [className]="smile.favorite ? 'favorite-icon favorite-icon--in-favorites' : 'favorite-icon' " (click)="addToFavorites(smile)">
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
            </span>
            <span class="delete-icon" (click)="remove(smile)">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls *ngIf="count > 20" (pageChange)="p = $event"></pagination-controls>
    <!--//table-->
  </div>
</div>
