<div class="container-fluid p-5">
  <div class="row">
    <div class="col-3 border border-primary rounded p-3 align-self-start">
      <!--menu-->
      <div class="nav flex-column nav-pills">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Все смайлики</a>
        <a class="nav-link" routerLink="/favorite" routerLinkActive="active">Любимые</a>
        <a class="nav-link" routerLink="/removed" routerLinkActive="active">Удалённые</a>
      </div>
      <!--//menu-->
    </div>
    <div class="col-9 px-5">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>