<div class="container-fluid p-5">
  <div class="row">
    <div class="col-3 border border-primary rounded p-3 align-self-start">
      <!--menu-->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Все смайлики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorite">Любимые</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/removed">Удалённые</a>
        </li>
      </ul>
      <!--//menu-->
    </div>
    <div class="col-9 px-5">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>