.emoji-container {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.emoji-container img {
    width: 100%;
}

.big-img {
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: inline-block;
    padding: 16px;
    width: 160px;
    height: 160px;
    margin-top: -60px;
    margin-left: -200px;
    opacity: 0;
}

.emoji-container:hover ~ .big-img {
    opacity: 1;
}

.favorite-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

.favorite-icon svg {
    transition: all 0.3s ease-in-out;
    color: #d4d4d4;
}

.favorite-icon:hover svg {
    color: #313131;
}

.favorite-icon.favorite-icon--in-favorites svg {
    color: rgb(163, 0, 0);
}

.delete-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.delete-icon svg {
    transition: all 0.3s ease-in-out;
    color: #d4d4d4;
}

.delete-icon:hover svg {
    color: #313131;
}