<div class="row">
  <div class="col-9"><h1>Любимые смайлики</h1></div>
  <div class="col-3">
    <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="Поиск..." aria-label="Search">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert alert-primary" *ngIf="count <= 0">Смайлов нет</div>
    <!--table-->
    <table class="table" *ngIf="count > 0">
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Ссылка</th>
          <th scope="col">Превью</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smile of smiles | filter : searchText | paginate: { itemsPerPage: 20, currentPage: p }">
          <th class="table-sm">{{ smile.name }}</th>
          <td><a href="{{ smile.link }}">{{ smile.link }}</a></td>
          <td><div class="emoji-container"><img src="{{ smile.link }}" alt="{{ smile.name }}"></div></td>
          <td>
            <span class="delete-icon" (click)="remove(smile)">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls *ngIf="count > 20" (pageChange)="p = $event"></pagination-controls>
    <!--//table-->
  </div>
</div>
